:root {
	--mainColor: green;
}
body {
	background: rebeccapurple;
	display: flex;
	display: grid;
	font-size: 2rem;
}
h2 {
	background: rebeccapurple;
}
h3 {
	color: red;
}
h3 .kappa {
		color: green;
	}
::-webkit-input-placeholder {
	color: gray;
}
:-ms-input-placeholder {
	color: gray;
}
::-ms-input-placeholder {
	color: gray;
}
::placeholder {
	color: gray;
}
/* test */
@media (min-width: 30em) {
body {
		background: green;
		background: var(--mainColor)
}
	}
@media (min-width: 40rem) {
h2 {
		background: red
}
	}
@media (min-width: 60rem) {
body {
		background: red
}
h2 {
		background: red
}
	}