:root {
	--mainColor: green;
}

body {
	background: rebeccapurple;
	display: flex;
	display: grid;
	font-size: 2rem;
	@media (--phone) {
		background: var(--mainColor);
	}
	@media (min-width: 60rem) {
		background: red;
	}
}

h2 {
	background: rebeccapurple;
	@media (min-width: 40rem) {
		background: red;
	}
	@media (min-width: 60rem) {
		background: red;
	}
}

h3 {
	color: red;
	& .kappa {
		color: green;
	}
}

::placeholder {
	color: gray;
}

/* test */